body {
    margin: 0;
}

.container {
    scroll-snap-type: y mandatory;
    max-height: 50vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.child {
    scroll-snap-align: start;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    max-width: 600px;
}

.top {
    align-items: flex-end;
}

.bottom {
    align-items: flex-start;
}